{% extends "base.html" %}

{% block title %}
    <title>EcoTravelBudgetter</title>
{% endblock title %}

{% block content %}
    <div class="row" style="padding-top:2.5%">
        <div class="col-sm-1 col-md-2">
        </div> 
        <div class="col-sm-10 col-md-8">
            <br>
            <div class="container-fluid">
                <h3>About our app and its purpose</h3>
                <br>
                <p class="text-start text-break">The cost of living in the UK has been increasing at an alarming rate for the past year, and with that the cost of fuel has been increasing. In the past year alone, the price of fuel has gone up by 30.1%. In addition to that, the cost of inflation rose up to 11.1% in October 2022. This has meant people have been starting to be more money conscious and how they are spending their money.</p>
                <br>
                <p>Our proposal is to create an application to help people budget their journeys via different methods of transport for economic and environmental cost.</p>
            </div>
        </div>
        <div class="col-sm-1 col-md-2">
        </div> 
    </div>
{% endblock content %}