{% extends "base.html" %}

{% block title %}
    <title>EcoTravelBudgetter</title>
{% endblock title %}

{% block content %}
    <div class="row" style="padding-top:2.5%">
        <div class="col-sm-12">
            <div class="ps-5">
            <br>
            <div class="container-fluid">
                <h3><center>Remaining budget this week:</center></h3>
                <br>
                <p1><center><font size="+5"><b>£0.00</b></font></center></p1>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <ul>
                    <font size="+3">Time till reset:
                    <br>
                    00:00:00
                    </font>
                </ul>
                <p style="text-align:right;"><font size="+3">Set Budget</font></p>
            </div>
        </div> 
    </div>
{% endblock content %}
