{% extends "base.html" %}

{% block title %}
    <title>EcoTravelBudgetter</title>
{% endblock title %}

{% block content %}
    <div class="row" style="padding-top:2.5%">
        <div class="col-sm-12">
            <div class="ps-5">
            <br>
            <div class="container-fluid">
                <center>
                    <a href="/setbudget"><input type="submit" class="btn btn-success" value="Set Budget" style="margin-bottom: 20px;" /></a><br/>
                    <a href="/budget/delete"><input type="submit" class="btn btn-danger" value="Delete Budget" style="margin-bottom: 20px;" /></a>
                </center>
                <h3>
                    <center>
                        Remaining budget till reset:
                    </center>
                </h3>
                <br>
                <p1>
                    <center>
                        <font size="+5">
                            <b>
                                {% if budget_used %}
                                £{{budget_used}}
                                {% else %}
                                £0.00
                                {% endif %}
                            </b>
                        </font>
                    </center>
                </p1>
                <!-- Statistics -->
                <div>
                    <canvas id="myChart" style="color: white;width:100%;max-width:400px; max-height: 400px; margin-left:auto; margin-right: auto; margin-top: 30px;"></canvas>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br>
                <ul>
                    <font size="+3">Time till reset:
                    <br>
                    {% if resetDate %}
                        {{resetDate}} Days
                    {% else %}
                        0 Days
                    {% endif %}
                    </font>
                </ul>
                <!--<p style="text-align:right;"><font size="+3">Set Budget</font></p>-->
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                var xValues = ["Budget Used in £", "Budget Remaining in £"];
                var yValues = ["{{costs|escapejs}}", "{{budget_used|escapejs}}"];
                var barColors = [
                "#b91d47",
                "#8DE969",
                ];
                Chart.defaults.color = "#ffffff";

                new Chart("myChart", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                    }]
                },
                options: {
                    title: {
                    display: false,
                    text: "Budget Used Pie Chart"
                    }
                }
                });
            </script>
        </div> 
    </div>
{% endblock content %}
