{% extends "base.html" %}

{% block content %}
    <div class="row" style="padding-top:2.5%">
        <div class="col-sm-12">
            <div class="ps-5">
            <br>
            <div class="container-fluid">
                <p1><center><font size="+5"><b>User Info:</b></font></center></p1>
                <br>
                <ul>
                    <font size="+3">Add stats when more implemented
                    <br>
                    </font>
                    <font size="-1">Username:<br>
                        
                    </font>
                </ul>

            </div>
        </div> 
    </div>
{% endblock content %}