{% load static %}

    <nav class="navbar navbar-expand-sm navbar-fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                {% if not request.user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'images/logo_etb.png' %}" alt="my image" height="100%" width="30%">
                    </a> 
                {% elif request.user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'dashboard' %}">
                        <img src="{% static 'images/logo_etb.png' %}" alt="my image" height="100%" width="30%">
                    </a> 
                {% endif %}  
                
            </div>
            <ul class="navbar-nav ms-auto pe-5">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="http://localhost:8000/login/auth0"><i class="bi bi-person me-2"></i>Login/Sign Up</a> </li>
                {% elif request.user.is_authenticated %}
                <!--User button not in use yet, for redesign once all pages are functioning-->
                    <li class="nav-item pe-1"><a class="nav-link" href="{% url 'chat' %}"><i class="bi bi-chat pe-2"></i>Chat</a> </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="bi bi-door-open pe-1"></i>Logout</a> </li>    
                {% endif %}              
            </ul>
        </div>
    </nav>
